<a href="https://colab.research.google.com/github/srknplt/Introduction_To_Machine_Learning/blob/main/Pandas_DataFrame_UltraQuick_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as dp

In [8]:
my_data = np.array([0,3],[10,7],[20,9],[30,14],[40,15])

my_column_names = ['temperature','activity']

my_dataframe = pd.DataFrame(data=my_data,columns=my_column_names)

print(my_Dataframe)

TypeError: ignored

In [12]:
my_dataframe = ["adjusted"] = my_dataframe["activity"]+2

print(my_dataframe)

SyntaxError: ignored

In [13]:
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

print("Column 'temperature':")
print(my_dataframe['temperature'])

Rows #0, #1, and #2:

NameError: ignored

In [ ]:

my_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']

my_data = np.random.randint(low=0, high=101, size=(3, 4))

df = pd.DataFrame(data=my_data, columns=my_column_names)

print(df)

print("\nSecond row of the Eleanor column: %d\n" % df['Eleanor'][1])

df['Janet'] = df['Tahani'] + df['Jason']

print(df)

In [ ]:
print("Experiment with a reference:")
reference_to_df = df

print("  Starting value of df: %d" % df['Jason'][1])
print("  Starting value of reference_to_df: %d\n" % reference_to_df['Jason'][1])

df.at[1, 'Jason'] = df['Jason'][1] + 5
print("  Updated df: %d" % df['Jason'][1])
print("  Updated reference_to_df: %d\n\n" % reference_to_df['Jason'][1])

print("Experiment with a true copy:")
copy_of_my_dataframe = my_dataframe.copy()

print("  Starting value of my_dataframe: %d" % my_dataframe['activity'][1])
print("  Starting value of copy_of_my_dataframe: %d\n" % copy_of_my_dataframe['activity'][1])

my_dataframe.at[1, 'activity'] = my_dataframe['activity'][1] + 3
print("  Updated my_dataframe: %d" % my_dataframe['activity'][1])
print("  copy_of_my_dataframe does not get updated: %d" % copy_of_my_dataframe['activity'][1])